# This is a CODEOWNERS file that governs access to specific directories in the directory so only
# PNI members can change critical infrastructure
/charts @pokt-network/team-blockchains @okdas @Gustavobelfort
/clusters @pokt-network/team-blockchains @okdas @Gustavobelfort
/.github @pokt-network/team-blockchains @okdas @Gustavobelfort
