# This is a CODEOWNERS file that governs access to specific directories in the directory so only
# PNI members can change critical infrastructure
/charts @team-blockchains @okdas @Gustavobelfort
/clusters @team-blockchains @okdas @Gustavobelfort
/.github @team-blockchains @okdas @Gustavobelfort
